body {
  background-color: #101010;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-left: 20px;
}

a {
  color: deepskyblue;
}

li {
  margin-bottom: 3rem;
}

code {
  color: lightgreen;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.button {
  border: none;
  color: white;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 2px 20px;
  transition-duration: 0.1s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
}

.button1:hover {
  background-color: #303030;
  color: white;
}

.button1:active {
  background-color: #050505;
  color: gray
}
